* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    font-family: 'Open Sans';
}
.right {
    float: right;
}
.left {
    float: left;
}
.white {
    color: white;
}
.bgcgray {
    background-color:gray ;
}

/* inizio header */
header {
    background-color: black;
    height: 30px;
}
button {
    padding: 3px;
    margin: 3px;
}
/* inizio main */
main {
    height: calc(100vh - 80px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}
.container {
    position: relative;
}
img {
    height: 200px;
    width: 300px;
}
.user {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    position: absolute;
    bottom: 0;
}
