* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    font-family: 'Open Sans';
}
.right {
    float: right;
}
.left {
    float: left;
}
.white {
    color: white;
}
.bgcgray {
    background-color:gray ;
}

/* inizio header */
header {
    background-color: black;
    height: 35px;
}
button {
    padding: 3px;
    margin: 3px;
}
/* inizio main */
main {
    height: calc(100vh - 135px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}
.container {
    position: relative;
    align-self: flex-start;
}
img {
    height: 200px;
    width: 300px;
    margin: 2px;
}
.user {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    position: absolute;
    bottom: 0;
}

/* inizio footer */
footer {
    flex-basis: 100px;
    background-color: black;
    color: white;
  }
  
  .control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }
  
  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .control i {
    margin-bottom: 5px;
  }
  
  .end-meeting {
    align-self: stretch;
  }
  
  .end-meeting button {
    color: red;
    border: 0;
    background-color: darkslategray;
    height: 100%;
    padding: 0px 10px;
  }